:root {
    --font-family: 'Open Sans', sans-serif;
}

@media (prefers-color-scheme: light) {
    :root {
        --text: #110802;
        --background: #fdf7f3;
        --primary: #e26e21;
        --secondary: #e6ee80;
        --accent: #bde851;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #fdf3ed;
        --background: #0d0702;
        --primary: #dd6a1d;
        --secondary: #767e11;
        --accent: #85b017;
    }
}

*, *::before, *::after {
  box-sizing: border-box;
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom CSS goes here */
